@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
    <h1 style="font-size:4vw;">Welcome @ViewBag.Name as @ViewBag.Role</h1>
    <p style="font-size:1.4vw;">
        Your role is @ViewBag.Role and now you can <span class="text-primary">Create</span> <span class="text-success">Read</span>
        <span class="text-warning"> Update </span>and <span class="text-danger">Delete</span> Products and Manage Users
    </p>
</div>
